h1 {
  color: white
}

body {
  background-color: #323232
}

p {
  color: #909090
}


a:link {
  background-color: #2020f0;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 10px;
}

a:visited {
  background-color: #1010a0;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 10px;
}

.form-input {
  color: white;
  padding: 14px 10px;
}

.button {
  background-color: #3050a0;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 10px;
}

td {
  color: #d0d0d0;
}

h2 {
  color: #e0e020;
}

li {
  color: #d0d0d0;
}

div {
  color: darkseagreen;
}

.input-oscuro {
  background-color: #323232;
  color: #e0e0e0;
}