<div>
    {{#if users.length  }}
        <ul >
            {{#each users}}
            <li>
                Nombre: {{ this.nombre }} - {{ this.email }}
            </li>
            {{/each}}
        </ul>
    {{else}}
        <p>No hay usuarios</p>
    {{/if}}
    <a class="button" href="/user/register">Registre un nuevo usuario</a>
</div>
