<div class="container w-50  border mt-4 pb-4 rounded">

    <h1 class="text-center">Hola, no te conozco</h1>
    <div class="container text-center">
        <div>
            <p>Si ya tienes cuenta</p>
            <a class="btn btn-primary" href="/user/login">Ingresa</a>
        </div>
        <hr />
        <div>
            <p>Si no tienes cuenta</p>
            <a class="btn btn-primary" href="/user/register">Registrate</a>
        </div>

    </div>
</div>