<div>

    <h2>Recibi</h2>
    <table>
        <tr>
            <td>Nombre: {{ received.nombre }}</td>
            <td>Email: {{ received.email }} </td>
            <td>password {{ received.password }} </td>
        </tr>
    </table>
    <a href="/user/profile"> Ver Perfil </a>
</div>